.top-container {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  text-align: center;
  background-color: #085302;
  color: white;
}
.scroll-progress {
  width: 100%;
  height: 10px;
  background: #aaf900;
}
.curr-progress {
  height: 10px;
  background: #8b02b5;
  width: 0%;
}
.data-container {
  margin-top: 100px;
}
